# Census ACS

Retrieves data from the Census Bureau's American Community Survey 5-year series API for zctas, county subdivisions, and tracts. A specific list of census variables is passed into the script, which are retrieved from the four ACS profile tables. Variables must be retrieved in chunks because only 50 can be passed to the API at a time, and each url varies by geography and retreives them in different combinations. After some processing output is written to a SQLite database. An option to create a metadata table appears at the bottom, but should only be run once for a given extract (socialecon and pophousing) and not for each individual geography.

https://www.census.gov/data/developers/data-sets/acs-5year.html

## Variables

In [1]:
import os, requests, json, sqlite3, random, pandas as pd, numpy as np
from IPython.display import clear_output

In [2]:
keyfile='census_key.txt'

#API variables - UPDATE THE YEAR AND GEO
year='2021'
geo='zip code tabulation area' # 'zip code tabulation area' or 'county subdivision' or 'tract'
state='44'
dsource='acs'
dsource2='acs5' # 5-year ACS
dname='profile' # data profile tables

#Variables to read in from spreadsheet - UPDATE WORKSHEET
worksheet='socialecon' # 'socialecon' or 'pophousing'
geoexcelsheet={'zip code tabulation area':'zctas', 'county subdivision':'county_subdivs', 'tract':'tracts'}
geotype=geoexcelsheet.get(geo)

#SQL output
tabname='{}_acs{}_{}'.format(geotype,year,worksheet)
dbname=os.path.join('outputs','testdb.sqlite')

#Dump files for api data storage
jsonpath=os.path.join('outputs', tabname+'_retrieved_data.json')

## Variable Lists
Get full list of variables from the API, read in our retrieval list, and compare the varianle IDs and names to make sure nothing is missing and that nothing has changed since the last iteration. *Don't move on to the next block until both lists match.* Lastly, read in list of geographies.

In [3]:
datadict={}
dps=['DP02','DP03','DP04','DP05']
for p in dps:
    vars_url = f'https://api.census.gov/data/{year}/{dsource}/{dsource2}/{dname}/groups/{p}.json'
    response=requests.get(vars_url)
    var_data=response.json()
    datadict.update(var_data['variables'])
random.sample(list(datadict.items()), 2)

[('DP04_0089PM',
  {'label': 'Percent Margin of Error!!VALUE!!Owner-occupied units!!Median (dollars)',
   'concept': 'SELECTED HOUSING CHARACTERISTICS',
   'predicateType': 'int',
   'group': 'DP04',
   'limit': 0,
   'predicateOnly': True}),
 ('DP05_0082PEA',
  {'label': 'Annotation of Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone',
   'concept': 'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
   'predicateType': 'string',
   'group': 'DP05',
   'limit': 0,
   'predicateOnly': True})]

In [4]:
dfexcel = pd.read_excel(os.path.join('inputs','acs_variables.xlsx'),sheet_name=worksheet)
dfexcel.head()

,db_var,census_var,census_label,dtype
0,HSHD01_E,DP02_0001E,Estimate!!HOUSEHOLDS BY TYPE!!Total households,int
1,HSHD01_M,DP02_0001M,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,int
2,HSHD01_PE,DP02_0001PE,Percent!!HOUSEHOLDS BY TYPE!!Total households,int
3,HSHD01_PM,DP02_0001PM,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,int
4,HSHD02_E,DP02_0016E,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,float

In [5]:
dfvars = pd.DataFrame.from_dict(datadict,columns=['label'],orient='index')
dfvars_selected=dfvars.loc[dfvars.index.isin(dfexcel['census_var'])]
dfvars_count=len(dfvars_selected)
dfexcel_count=len(dfexcel['census_var'])

if dfvars_count==dfexcel_count:
    print('There are an equal number of variables in both lists:', dfvars_count)
else:
    print('There is a mismatch in the number of variables; the api has,', dfvars_count, 
          'while the original list has',dfexcel_count,'. Missing:')
    nomatch=dfexcel[~dfexcel['census_var'].isin(dfvars_selected.index)]
    print(nomatch)

There are an equal number of variables in both lists: 188

In [6]:
mismatch=dfexcel[~dfexcel['census_label'].isin(dfvars_selected['label'])]

if len (mismatch) ==0:
    print('All labels match')
else:
    compare=pd.merge(mismatch,dfvars_selected, left_on='census_var', right_on=dfvars_selected.index)
    misfile=os.path.join('outputs','{}_mismatch.csv'.format(worksheet))
    compare.to_csv(misfile, columns=['db_var', 'census_var', 'census_label', 'label'],sep=',', index=False,
    header=['db_var','census_var' ,'oldlabel','newlabel'])
    print('* Mismatch file printed to outputs folder * \n')
    print('These labels do not match:')
    print(compare[['census_var','census_label','label']])

All labels match

In [7]:
# Geographic indetifiers: zctas to retrieve, pumas to filter by, and counties containing tracts to retrieve
excelgeo = pd.read_excel(os.path.join('inputs','acs_variables.xlsx'),sheet_name=geotype, dtype=object)
geoids = excelgeo['GEO'].tolist()
print('Number of geographic indetifiers:',len(geoids))

Number of geographic indetifiers: 81

## Retrieve Data
Given the large number of variables in the ACS and limits of the API, variables must be passed to the url in separate blocks or chunks. The first chunk that's captured is written to an empty datalist; the header row and then one row for each geography. Each subsequent chunk is iterated through by row, so each row is appended to the correct row in datalist. In all cases, the last values, identifiers automatically returned with each API call, are not appended.

In [8]:
def chunks(l, n):
    # For item i in a range that is a length of l,
    for i in range(0, len(l), n):
        # Create an index range for l of n items:
        yield l[i:i+n]

In [9]:
reqvars=list(chunks(dfvars_selected.index.tolist(),46))
reqvars[0].insert(0,'NAME')
reqvars[0].insert(0,'GEO_ID')
print('Number of chunks:',len(reqvars))

Number of chunks: 5

In [10]:
with open(keyfile) as key:
    api_key=key.read().strip()

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dsource2}/{dname}'
base_url

'https://api.census.gov/data/2021/acs/acs5/profile'

In [11]:
#Function for retrieving data; running this block loads it into memory
#Different geographies have different urls, 
#and a different number of identifiers tacked on to the end of each request

def getdata():
    dlist=[]
    for i, v in enumerate(reqvars):
        batchcols=','.join(v)
        if geotype=='zctas':
            data_url = f'{base_url}?get={batchcols}&for={geo}:{g}&key={api_key}'
            dropvar=-1
        elif geotype=='county_subdivs':
            data_url = f'{base_url}?get={batchcols}&for={geo}:*&in=state:{state}&in=county:{county}&key={api_key}'
            dropvar=-3
        elif geotype=='tracts':
            data_url = f'{base_url}?get={batchcols}&for={geo}:*&in=state:{state}&in=county:{county}&key={api_key}'
            dropvar=-3
        else:
            print('Appropriate geography not specified in variables block')
            break  
        response=requests.get(data_url)
        if response.status_code==200:
            clear_output(wait=True)
            data=response.json()
            for i2, v2 in enumerate(data):
                if i == 0:
                    dlist.append(v2[:dropvar])
                else:
                    for item in v2[:dropvar]:
                        dlist[i2].append(item)
        else:
            print('***Problem with retrieval***, response code',response.status_code)
    return dlist

##### ***THIS BLOCK IS A REQUESTS BLOCK!***
*NOTE: ZCTA retrieval takes a long time - 5 mins for 80 ZCTAs*

In [ ]:
#If this block was run successfully for a given table and geography don't rerun - next block pulls from saved json
datalist=[]
if geotype=='zctas':
    for g in geoids:
        georecord=getdata()
        print('Retrieved data for',g)
        if len(datalist)==0:
            datalist.append(georecord[0])
            datalist.append(georecord[1])
        else:
            datalist.append(georecord[1])
else:
    for county in geoids:
        georecord=getdata()
        print('Retrieved data for',county)
        if len(datalist)==0:
            for geog in georecord:
                datalist.append(geog)
        else:
            for geog in georecord[1:]:
                datalist.append(geog)
    
dlrows=len(datalist)
dlitems=sum(len(x) for x in datalist)
dlbyrow=dlitems / dlrows
print('Retrieved', dlrows, 'records and', dlitems,'data points with', dlbyrow, 'points for each record...')
        
with open(jsonpath, 'w') as f:
    json.dump(datalist, f)
print('Done - Data dumped to json file')

## Process Data
Replace footnotes with nulls, create a new GEOID2 column, replace census variable names with database variable names.

In [12]:
with open(jsonpath, 'r') as f:
    jsondata=json.load(f)
alldata = pd.DataFrame(jsondata[1:],columns=jsondata[0],dtype=object).rename(columns={
    'GEO_ID':'GEOIDLONG','NAME':'GEOLABEL'}).set_index('GEOIDLONG')
alldata.info()
# Index and column entries should be 1 row and 1 column less than previous count (excludes header row and index column)

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 860Z200US02802 to 860Z200US02921
Columns: 189 entries, GEOLABEL to DP03_0063PM
dtypes: object(189)
memory usage: 120.2+ KB

In [13]:
alldata.head(3)

,GEOLABEL,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0016E,DP02_0016M,DP02_0016PE,DP02_0016PM,DP02_0037E,...,DP03_0051PE,DP03_0051PM,DP03_0062E,DP03_0062M,DP03_0062PE,DP03_0062PM,DP03_0063E,DP03_0063M,DP03_0063PE,DP03_0063PM
GEOIDLONG,,,,,,,,,,,,,,,,,,,,,
860Z200US02802,ZCTA5 02802,238,169,238,-888888888,2.11,0.79,-888888888,-888888888,0,...,238,-888888888,105694,59777,-888888888,-888888888,84667,29921,-888888888,-888888888
860Z200US02804,ZCTA5 02804,898,215,898,-888888888,2.73,0.37,-888888888,-888888888,27,...,898,-888888888,111014,32883,-888888888,-888888888,118441,32762,-888888888,-888888888
860Z200US02806,ZCTA5 02806,6176,274,6176,-888888888,2.78,0.12,-888888888,-888888888,95,...,6176,-888888888,130455,11861,-888888888,-888888888,190749,18357,-888888888,-888888888

In [14]:
#This is a lousy solution, come up with something better in the future
footnotes=['-999999999','-999999999.0', '-999999999.00',
           '-888888888','-888888888.0', '-888888888.00',
           '-666666666','-666666666.0', '-666666666.00',
           '-555555555','-555555555.0', '-555555555.00',
           '-333333333','-333333333.0', '-333333333.00',
           '-222222222','-222222222.0', '-222222222.00']
alldata.replace(footnotes,np.nan,inplace=True)

In [15]:
idxgeoid2={'zctas':-5, 'county_subdivs':-10,'tracts':-11}
alldata.insert(loc=0, column='GEOIDSHORT',value=alldata.index.str[idxgeoid2.get(geotype):])
alldata.head(3)

,GEOIDSHORT,GEOLABEL,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0016E,DP02_0016M,DP02_0016PE,DP02_0016PM,...,DP03_0051PE,DP03_0051PM,DP03_0062E,DP03_0062M,DP03_0062PE,DP03_0062PM,DP03_0063E,DP03_0063M,DP03_0063PE,DP03_0063PM
GEOIDLONG,,,,,,,,,,,,,,,,,,,,,
860Z200US02802,02802,ZCTA5 02802,238,169,238,NaN,2.11,0.79,NaN,NaN,...,238,NaN,105694,59777,NaN,NaN,84667,29921,NaN,NaN
860Z200US02804,02804,ZCTA5 02804,898,215,898,NaN,2.73,0.37,NaN,NaN,...,898,NaN,111014,32883,NaN,NaN,118441,32762,NaN,NaN
860Z200US02806,02806,ZCTA5 02806,6176,274,6176,NaN,2.78,0.12,NaN,NaN,...,6176,NaN,130455,11861,NaN,NaN,190749,18357,NaN,NaN

In [16]:
# For PUMAS filter all the geotype for the state by local areas
if geotype == 'pumas':
    acsdata=alldata.loc[alldata.GEOID2.isin(geoids)].copy().astype(object).sort_index()
else:
    acsdata=alldata.copy().astype(object).sort_index()
acsdata.shape

(81, 190)

In [17]:
#Dictionary of column names from the census and the geodatabase
cv_to_db=dict(zip(dfexcel.census_var, dfexcel.db_var))
random.sample(list(cv_to_db.items()), 5)

[('DP03_0008PE', 'EMP08_PE'),
 ('DP02_0112PE', 'LANG01_PE'),
 ('DP02_0001E', 'HSHD01_E'),
 ('DP03_0022PE', 'COMU05_PE'),
 ('DP02_0059E', 'EDU01_E')]

In [18]:
#Rename the census variables to geodatabase variables
acsdata.rename(columns=cv_to_db,inplace=True)
acsdata.head(3)

,GEOIDSHORT,GEOLABEL,HSHD01_E,HSHD01_M,HSHD01_PE,HSHD01_PM,HSHD02_E,HSHD02_M,HSHD02_PE,HSHD02_PM,...,INC01_PE,INC01_PM,INC02_E,INC02_M,INC02_PE,INC02_PM,INC03_E,INC03_M,INC03_PE,INC03_PM
GEOIDLONG,,,,,,,,,,,,,,,,,,,,,
860Z200US02802,02802,ZCTA5 02802,238,169,238,NaN,2.11,0.79,NaN,NaN,...,238,NaN,105694,59777,NaN,NaN,84667,29921,NaN,NaN
860Z200US02804,02804,ZCTA5 02804,898,215,898,NaN,2.73,0.37,NaN,NaN,...,898,NaN,111014,32883,NaN,NaN,118441,32762,NaN,NaN
860Z200US02806,02806,ZCTA5 02806,6176,274,6176,NaN,2.78,0.12,NaN,NaN,...,6176,NaN,130455,11861,NaN,NaN,190749,18357,NaN,NaN

## Write to Database
Update list of variables and data types, build create table string, create datatable in temporary database.

In [19]:
dfexcel.replace({'dtype': {'int': 'INTEGER', 'float': 'REAL'}},inplace=True)
dfexcel.census_label.replace({'!!': ' - '},inplace=True, regex=True)
dfexcel.head()

,db_var,census_var,census_label,dtype
0,HSHD01_E,DP02_0001E,Estimate - HOUSEHOLDS BY TYPE - Total households,INTEGER
1,HSHD01_M,DP02_0001M,Margin of Error - HOUSEHOLDS BY TYPE - Total h...,INTEGER
2,HSHD01_PE,DP02_0001PE,Percent - HOUSEHOLDS BY TYPE - Total households,INTEGER
3,HSHD01_PM,DP02_0001PM,Percent Margin of Error - HOUSEHOLDS BY TYPE -...,INTEGER
4,HSHD02_E,DP02_0016E,Estimate - HOUSEHOLDS BY TYPE - Total househol...,REAL

In [20]:
vardict=dfexcel.set_index('db_var').T.to_dict('list')
random.sample(list(vardict.items()), 2)

[('COMP01_E',
  ['DP02_0152E',
   'Estimate - COMPUTERS AND INTERNET USE - Total households',
   'INTEGER']),
 ('COMP02_PM',
  ['DP02_0153PM',
   'Percent Margin of Error - COMPUTERS AND INTERNET USE - Total households - With a computer',
   'REAL'])]

In [21]:
con = sqlite3.connect(dbname) 
cur = con.cursor()

In [22]:
cur.execute('DROP TABLE IF EXISTS {}'.format(tabname))
dbstring="""
CREATE TABLE {} (
GEOIDLONG TEXT NOT NULL PRIMARY KEY,
GEOIDSHORT TEXT,
GEOLABEL TEXT,
""".format(tabname)

for k,v in vardict.items():
    dbstring=dbstring+k+' '+v[2]+', \n'
    
dbstring=dbstring[:-3]
dbstring=dbstring+');'
print(dbstring)

CREATE TABLE zctas_acs2021_socialecon (
GEOIDLONG TEXT NOT NULL PRIMARY KEY,
GEOIDSHORT TEXT,
GEOLABEL TEXT,
HSHD01_E INTEGER,
HSHD01_M INTEGER,
HSHD01_PE INTEGER,
HSHD01_PM INTEGER,
HSHD02_E REAL,
HSHD02_M REAL,
HSHD02_PE INTEGER,
HSHD02_PM INTEGER,
FERT01_E INTEGER,
FERT01_M INTEGER,
FERT01_PE INTEGER,
FERT01_PM INTEGER,
SCH01_E INTEGER,
SCH01_M INTEGER,
SCH01_PE INTEGER,
SCH01_PM INTEGER,
SCH02_E INTEGER,
SCH02_M INTEGER,
SCH02_PE REAL,
SCH02_PM REAL,
SCH03_E INTEGER,
SCH03_M INTEGER,
SCH03_PE REAL,
SCH03_PM REAL,
SCH04_E INTEGER,
SCH04_M INTEGER,
SCH04_PE REAL,
SCH04_PM REAL,
SCH05_E INTEGER,
SCH05_M INTEGER,
SCH05_PE REAL,
SCH05_PM REAL,
SCH06_E INTEGER,
SCH06_M INTEGER,
SCH06_PE REAL,
SCH06_PM REAL,
EDU01_E INTEGER,
EDU01_M INTEGER,
EDU01_PE INTEGER,
EDU01_PM INTEGER,
EDU02_E INTEGER,
EDU02_M INTEGER,
EDU02_PE REAL,
EDU02_PM REAL,
EDU03_E INTEGER,
EDU03_M INTEGER,
EDU03_PE REAL,
EDU03_PM REAL,
DIS01_E INTEGER,
DIS01_M INTEGER,
DIS01_PE INTEGER,
DIS01_PM INTEGER,
DIS02_E INTEGER,
DIS02_M INTEGER,
DIS02_PE REAL,
DIS02_PM REAL,
RES01_E INTEGER,
RES01_M INTEGER,
RES01_PE INTEGER,
RES01_PM INTEGER,
RES02_E INTEGER,
RES02_M INTEGER,
RES02_PE REAL,
RES02_PM REAL,
RES03_E INTEGER,
RES03_M INTEGER,
RES03_PE REAL,
RES03_PM REAL,
RES04_E INTEGER,
RES04_M INTEGER,
RES04_PE REAL,
RES04_PM REAL,
CITZ01_E INTEGER,
CITZ01_M INTEGER,
CITZ01_PE INTEGER,
CITZ01_PM INTEGER,
CITZ02_E INTEGER,
CITZ02_M INTEGER,
CITZ02_PE REAL,
CITZ02_PM REAL,
CITZ03_E INTEGER,
CITZ03_M INTEGER,
CITZ03_PE REAL,
CITZ03_PM REAL,
LANG01_E INTEGER,
LANG01_M INTEGER,
LANG01_PE INTEGER,
LANG01_PM INTEGER,
LANG02_E INTEGER,
LANG02_M INTEGER,
LANG02_PE REAL,
LANG02_PM REAL,
LANG03_E INTEGER,
LANG03_M INTEGER,
LANG03_PE REAL,
LANG03_PM REAL,
COMP01_E INTEGER,
COMP01_M INTEGER,
COMP01_PE INTEGER,
COMP01_PM INTEGER,
COMP02_E INTEGER,
COMP02_M INTEGER,
COMP02_PE REAL,
COMP02_PM REAL,
COMP03_E INTEGER,
COMP03_M INTEGER,
COMP03_PE REAL,
COMP03_PM REAL,
EMP01_E INTEGER,
EMP01_M INTEGER,
EMP01_PE INTEGER,
EMP01_PM INTEGER,
EMP02_E INTEGER,
EMP02_M INTEGER,
EMP02_PE REAL,
EMP02_PM REAL,
EMP03_E INTEGER,
EMP03_M INTEGER,
EMP03_PE REAL,
EMP03_PM REAL,
EMP04_E INTEGER,
EMP04_M INTEGER,
EMP04_PE REAL,
EMP04_PM REAL,
EMP05_E INTEGER,
EMP05_M INTEGER,
EMP05_PE REAL,
EMP05_PM REAL,
EMP06_E INTEGER,
EMP06_M INTEGER,
EMP06_PE REAL,
EMP06_PM REAL,
EMP07_E INTEGER,
EMP07_M INTEGER,
EMP07_PE REAL,
EMP07_PM REAL,
EMP08_E INTEGER,
EMP08_M INTEGER,
EMP08_PE INTEGER,
EMP08_PM INTEGER,
EMP09_E INTEGER,
EMP09_M INTEGER,
EMP09_PE REAL,
EMP09_PM REAL,
COMU01_E INTEGER,
COMU01_M INTEGER,
COMU01_PE INTEGER,
COMU01_PM INTEGER,
COMU02_E INTEGER,
COMU02_M INTEGER,
COMU02_PE REAL,
COMU02_PM REAL,
COMU03_E INTEGER,
COMU03_M INTEGER,
COMU03_PE REAL,
COMU03_PM REAL,
COMU04_E INTEGER,
COMU04_M INTEGER,
COMU04_PE REAL,
COMU04_PM REAL,
COMU05_E INTEGER,
COMU05_M INTEGER,
COMU05_PE REAL,
COMU05_PM REAL,
COMU06_E INTEGER,
COMU06_M INTEGER,
COMU06_PE REAL,
COMU06_PM REAL,
COMU07_E INTEGER,
COMU07_M INTEGER,
COMU07_PE REAL,
COMU07_PM REAL,
COMU08_E REAL,
COMU08_M REAL,
COMU08_PE INTEGER,
COMU08_PM INTEGER,
INC01_E INTEGER,
INC01_M INTEGER,
INC01_PE INTEGER,
INC01_PM INTEGER,
INC02_E INTEGER,
INC02_M INTEGER,
INC02_PE INTEGER,
INC02_PM INTEGER,
INC03_E INTEGER,
INC03_M INTEGER,
INC03_PE INTEGER,
INC03_PM INTEGER);

In [23]:
cur.execute(dbstring)

In [24]:
acsdata.to_sql(name=tabname, if_exists='append', index=True, con=con)

In [25]:
cur.execute('SELECT COUNT(*) FROM {};'.format(tabname))
rows = cur.fetchone()
print(rows[0], 'records written to', tabname)

81 records written to zctas_acs2021_socialecon

In [26]:
cur.execute('SELECT * FROM {} LIMIT 1;'.format(tabname))
col_names = [cn[0] for cn in cur.description]
print(len(col_names), 'columns written to', tabname)
#Number should be same as number in df acsdata plus 1, since index not included in df count

191 columns written to zctas_acs2021_socialecon

In [27]:
con.close()

## Metadata Table
DO NOT RERUN THIS SECTION FOR MULTIPLE GEOGRAPHIES. In the RI Geodatabase there is only one metadata table for all of the ACS tables (acs1 and acs2) for all geographies. For whichever geography is processed first, set action variable to 'create' and run this entire series of blocks for the acs1 table. For the acs2 table, set the action variable to 'append' and skip the table creation and identifier insertion blocks.

In [ ]:
#Change table name and specify an action - you're creating the table for the first time with acs1 variables, 
#or appending the tables with acs2 variables

metatab='acs2021_lookup'
action='append' # 'create' or 'append'

In [ ]:
con = sqlite3.connect(dbname) 
cur = con.cursor()

In [ ]:
#Only run this block when creating initial table
if action=='create':
    mdstring="""
    CREATE TABLE {} (
    tabnum TEXT,
    est_id TEXT,
    est_value TEXT);
    """.format(metatab)
    cur.execute(mdstring)
else:
    print('Block not executed because "create" not selected as an action in earlier block')

In [ ]:
#Only run this block when creating initial table
if action=='create':
    exstring="""
        INSERT INTO {} VALUES('both','NOTE','Each variable has 4 values that are identified by a particular suffix: E for estimate, M for margin of error for the estimate, PC for percent total, and PM for margin of error for the percent total');
        INSERT INTO {} VALUES('both','GEOIDLONG','Id');
        INSERT INTO {} VALUES('both','GEOIDSHORT','Id2');
        INSERT INTO {} VALUES('both','GEOLABEL','Geography');
        """.format(metatab,metatab,metatab,metatab)
    cur.executescript(exstring)
    con.commit()
else:
    print('Block not executed because "create" not selected as an action in earlier block')

In [ ]:
#Run when creating table or when appending records
#Keys and values - db ids and labels - are simplified and truncated to 1 entry for each 4-column group (E,M,PC,PM)
if action in ('create','append'):
    for mk, mv in vardict.items():
        if mk.endswith('_E'):
            cur.execute("INSERT INTO {} values(?,?,?)".format(metatab),(worksheet,mk[:-2],mv[1][11:]))
    con.commit()
else:
    print('Block not executed because action not specified in earlier block')

In [ ]:
cur.execute('SELECT COUNT(*) FROM {};'.format(metatab))
rows = cur.fetchone()
print(rows[0], 'records in', metatab)

In [ ]:
action=''
con.close()